[Unit]
Description=ralt grpc server
After=syslog.target network.target auditd.service

[Service]
ExecStart=/opt/reyzar/ralt-svr/ralt-svr
Type=simple
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target